<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<!-- A form to build a Post with :title, :body and the :user who created it -->
<%= form_with model: Post.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>
<% end %>